<div class="container">
  <div class="row">  
  <div class="span12">
    <p class="map">
      <iframe width="600" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=4633+Convoy+Street+San+Diego,+CA+92111&amp;aq=&amp;sll=37.269174,-119.306607&amp;sspn=15.697766,17.402344&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=4633+Convoy+St,+San+Diego,+California+92111&amp;ll=32.825942,-117.154684&amp;spn=0.021638,0.025749&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=4633+Convoy+Street+San+Diego,+CA+92111&amp;aq=&amp;sll=37.269174,-119.306607&amp;sspn=15.697766,17.402344&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=4633+Convoy+St,+San+Diego,+California+92111&amp;ll=32.825942,-117.154684&amp;spn=0.021638,0.025749&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small></div>
  <div class="span6 address">
     <strong>Hours</strong>
    <br>
    Monday - Closed
    <br>
    Tuesday, Wednesday, Sunday - 5 PM - 12 AM
    <br>
    Thursday, Friday, Saturday - 5 PM - 2AM
  </div>
  </p>
  <div class="span6">
  <address>
      <strong>Contact Us</strong>
      <br>
      4633 Convoy St #102
      <br>
      San Diego, CA 92111
      <br>
      <abbr title="Phone">
      Phone:</abbr> (858) 499-8999
      
    </address>
  </div>
  
  <div class="row-fluid">

    <!-- <div class="span4">
    <h1>Our Mission</h1>
    <p>
    Our mission is to provide fresh and delicious food paired with craft beer at reasonable prices complimenting the San Diego experience.
    </p>
    </div> -->

  </div>

</div>
</div>
<div class="row-fluid">
  <div class="span12">
    Fluid 12
    <div class="row-fluid">
      <div class="span6">
        Fluid 6
        <div class="row-fluid">
          <div class="span6">Fluid 6</div>
          <div class="span6">Fluid 6</div>
        </div>
      </div>
      <div class="span6">Fluid 6</div>
    </div>
  </div>
</div>
