@import "bootstrap";

/* NAVBAR */

.navbar-nav.navbar-right:last-child {
  margin-right: 0px;
}

.navbar-brand {
  padding: 0;
}

/* CONTENT */
h2 {
  text-align: center;
}

body {
  background-color: black !important;
}

/* CAROUSEL */

.carousel .item {
    max-width: 100%; /*slider width*/
    max-height: 500px; /*slider height*/
}

/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

/* FOOTER */

/* Menu */
h5 {
  text-align: center;
}
